.loading {
    text-align: center;
    top: 50%;
    left: 50%;
}
.loading-bar {
    display: inline-block;
    width: 4px;
    height: 18px;
    border-radius: 4px;
    margin-left: 4px;
    -webkit-animation: loading 1s ease-in-out infinite;
    animation: loading 1s ease-in-out infinite;
}
.loading-bar:nth-child(1) {
    background-color: #E0E0E0;
    -webkit-animation-delay: 0;
    animation-delay: 0;
}
.loading-bar:nth-child(2) {
    background-color: #C0C0C0;
    -webkit-animation-delay: 0.09s;
    animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
    background-color: #A0A0A0;
    -webkit-animation-delay: .18s;
    animation-delay: .18s;
}
.loading-bar:nth-child(4) {
    background-color: #787878;
    -webkit-animation-delay: .27s;
    animation-delay: .27s;
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    20% {
        -webkit-transform: scale(1, 2.2);
        transform: scale(1, 2.2);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes loading {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    20% {
        -webkit-transform: scale(1, 2.2);
        transform: scale(1, 2.2);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}