<div ng-controller="NotFoundController">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="well well-lg text-center">
                    <h1>404</h1>
                    <h2>Not found</h2>
                    <h3>{{notFound.notFoundUrl}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>