<div ng-controller="AllController">
    <div class="container">
        <loading class="well well-lg"></loading>

        <div ng-show="all.received && all.success">
            <div class="row">
                <div class="well well-lg col-sm-12">
                    <table class="table">
                        <caption><b>All short urls</b></caption>
                        <thead>
                            <tr>
                                <th>Short url</th>
                                <th>Long url</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="scrollable-table-full-height">
                        <table class="table table-striped">
                            <tr ng-repeat="url in all.data">
                                <td style="word-wrap: break-word">
                                    <a href="{{url.statsUrl}}">{{url.shortUrl}}</a>
                                </td>
                                <td style="word-wrap: break-word">
                                    <a href="{{url.longUrl}}">{{url.longUrl}}</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="all.received && !all.success">
            <div class="well well-lg col-md-6 col-md-offset-3">
                <div class="text-center">
                    <h3>Something going wrong:</h3>
                </div>
                <div class="text-center" style="color: red; font-size: small; word-wrap: break-word">
                    {{all.data.message}}
                </div>
            </div>
        </div>

    </div>
</div>