<div ng-controller="MainController">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="well well-lg">
                    <form role="form"
                          name="newUrlForm"
                          novalidate
                          ng-submit="newUrlForm.$valid && main.makeShort()">

                        <div class="input-group">
                            <input type="url"
                                   class="form-control"
                                   placeholder="Long URL..."
                                   name="longUrl"
                                   ng-model="main.newLongUrl"
                                   required
                                   ng-minlength="24" />

                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default">Make Short</button>
                            </span>
                        </div>

                        <div class="text-center" style="color: red">
                            <span ng-show="newUrlForm.$submitted || newUrlForm.longUrl.$touched">
                                <span ng-show="newUrlForm.longUrl.$error.minlength && !newUrlForm.longUrl.$error.url">
                                    Url is to short to make it shorter
                                </span>
                                <span ng-show="newUrlForm.longUrl.$error.url && !newUrlForm.longUrl.$error.required">
                                    Not an url
                                </span>
                                <span ng-show="newUrlForm.longUrl.$error.required">
                                    Enter long url
                                </span>
                            </span>
                        </div>
                    </form>

                </div>

                <loading class="well well-lg"></loading>

                <div class="well well-lg" ng-show="main.received && main.success">
                    <div class="text-center">
                        <h2>Short url:</h2>
                    </div>
                    <div class="text-center" style="color: blue; font-size: large">
                        <mark><a href="{{main.data.shortUrl}}">{{main.data.shortUrl}}</a></mark>
                    </div>

                    <div class="pull-right">
                        <small>Short url <a href="{{main.data.statsUrl}}">statistics</a></small>
                    </div>
                </div>

                <div class="well well-lg" ng-show="main.received && !main.success">
                    <div class="text-center">
                        <h3>Something going wrong:</h3>
                    </div>
                    <div class="text-center" style="color: red; font-size: small; word-wrap: break-word">
                        {{main.data.message}}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
