<div ng-controller="StatsController">
    <div class="container">
        <loading class="well well-lg"></loading>

        <div ng-show="stats.received && stats.success">
            <!-- short -- long -->
            <div class="row">
                <div class="well col-sm-6 text-center fixed-150">
                    <h3>Short url:</h3>
                    <div style="color: blue; font-size: large; word-wrap: break-word">
                        <mark><a href="{{stats.data.url.shortUrl}}">{{stats.data.url.shortUrl}}</a></mark>
                    </div>
                </div>
                <div class="well col-sm-6 text-center fixed-150">
                    <h3>Long url:</h3>
                    <div style="color: blue; font-size: small; word-wrap: break-word">
                        <mark><a href="{{stats.data.url.longUrl}}">{{stats.data.url.longUrl}}</a></mark>
                    </div>
                </div>
            </div>
            <!-- total clicks -- period graphic -->
            <div class="row">
                <div class="well well-lg col-sm-12">
                    <highchart id="chart" config="stats.chartConfig"></highchart>
                </div>
            </div>
            <!-- browser -- referer -->
            <div class="row">
                <div class="well col-sm-6 fixed-300">
                    <table class="table">
                        <caption><b>Browsers</b></caption>
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Clicks</th>
                        </tr>
                        </thead>
                    </table>
                    <div class="scrollable-table">
                        <table class="table table-striped">
                            <tr ng-repeat="(key, value) in stats.data.groupedByBrowser">
                                <td>{{ key }}</td>
                                <td>{{ value }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="well col-sm-6 fixed-300">
                    <table class="table">
                        <caption><b>Referers</b></caption>
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Clicks</th>
                        </tr>
                        </thead>
                    </table>
                    <div class="scrollable-table">
                        <table class="table table-striped">
                            <tr ng-repeat="(key, value) in stats.data.groupedByReferer">
                                <td>{{ key }}</td>
                                <td>{{ value }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- country -- platform -->
            <div class="row">
                <div class="well col-sm-6 fixed-300">
                    <table class="table">
                        <caption><b>Countries</b></caption>
                        <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Clicks</th>
                        </tr>
                        </thead>
                    </table>
                    <div class="scrollable-table">
                        <table class="table table-striped">
                            <tr ng-repeat="country in stats.data.groupedByCountry">
                                <td class="text-center">
                                    <div ng-show="country[0].countryIso != 'undefined'">
                                        <span class="flag-icon flag-icon-{{ country[0].iso }}"></span>
                                    </div>
                                </td>
                                <td>{{ country[0].name }}</td>
                                <td>{{ country[1] }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="well col-sm-6 fixed-300">
                    <table class="table">
                        <caption><b>Platforms</b></caption>
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Clicks</th>
                        </tr>
                        </thead>
                    </table>
                    <div class="scrollable-table">
                        <table class="table table-striped">
                            <tr ng-repeat="(key, value) in stats.data.groupedByPlatform">
                                <td>{{ key }}</td>
                                <td>{{ value }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="stats.received && !stats.success">
            <div class="well well-lg col-md-6 col-md-offset-3">
                <div class="text-center">
                    <h3>Something going wrong:</h3>
                </div>
                <div class="text-center" style="color: red; font-size: small; word-wrap: break-word">
                    {{stats.data.message}}
                </div>
            </div>
        </div>

    </div>
</div>
